<?xml version='1.0' encoding='utf-8'?>
<widget id="twilight.of.the.devs.LocationTracker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Location Tracker</name>
    <description>
        An Apache Cordova application for tracking users' locations indoors
    </description>
    <author email="twilightofthedevs@gmail.com" href="http://cordova.io">
        Randy Valis
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="android-targetSdkVersion" value="17" />
        <preference name="android-minSdkVersion" value="17" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
